/* @import url('fonts de google a elegir') */
@font-face {
    font-family:cano;
    src: url(../font/Cano.otf);
}
/* :root{
    --color-background: #191c32;
    --color-letters: #fff;
    --color-letters-span:aqua;
    --color-buttons-navar: aqua;
    --color-buttons-active:aqua;
    --border-image:aqua;
    --color-lines-form:#FFF;
    --color-background-footer:aqua;
    --color-divider:aqua;
} */
:root{
    --color-background: #0e1524;
    --color-letters: #EDE6DB;
    --color-letters-span:#417D7A;
    --color-buttons-navar: #417D7A;
    --color-buttons-active:#1D5C63;
    --border-image:#417D7A;
    --color-lines-form:#EDE6DB;
    --color-background-footer:#193b3f;
    --color-divider:#193b3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cano';
}

body {
    /* font-family: 'Poner el tipo de font de google', sans-serif; */
    font-family: 'cano', Courier, monospace;
}

.wrapper {
    /* ocupa toda la pantalla */
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-letters);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -0.5%;
}

.menu {
    /* PONER UNO AL LADO DEL OTRO */
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}


/* COLORES DE LETRA */
.menu a {
    color: var(--color-letters);
    /* Sacarle el icono */
    text-decoration: none;
    padding: 10px 20px;
}

.brand span {
    color: var(--color-letters-span);
}

.menu .active {
    color: var(--color-buttons-active);
}

.menu a:hover {
    background-color: var(--color-buttons-navar);
    color: #191c32;
    transition: ease-in .4s;
}


/* DARLO ESTILOS AL MAIN */
main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 
    align-items: center;
  gap: 2em; */

}

h1 {
    font-size: clamp(4vw, 1.5em, 3em);
}

span {
    color: var(--color-letters-span);
}

.download-cv {
    padding: 10px 20px;
    background-color: var(--color-buttons-navar);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.main img {
    width: 450px;
    border: 7px solid var(--border-image);
    height: 32.5rem;
    margin-left: 9rem;
    min-height: 400px;
    min-width: 300px;
}


/* SECCION ABOUT */

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: var(--color-divider);
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}


/* DISEÑO PORTFOLIO */


.portfolio,
.contact-section {
    width: 100vw;
    background-color: var(--color-background);
    color: var(--color-letters);

}

.porfolio-headings {
    width: 100vw;
    padding: 5em;
}

.porfolio-headings h2,
.contact-section h2 {
    font-size: 2.5em;
    color: var(--color-letters);
}

.portfolio .container {
    width: 80vw;
    /* height: 80vh; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 325px;
    background-color: rgb(37, 42, 85);
    color: var(--color-letters);
    margin: 1em;
}

.card__img {
    width: 100%;
    height: 150px;
    background-image: url(../img/2-original.png);
    background-size: cover;
}

.card__title {
    padding: 20px;
}

.card__projects-links {
    display: flex;
    justify-content: space-evenly;
}

.card__projects-links a {
    color: var(--color-letters);
    text-decoration: none;
}

.card__projects-links i {
    font-size: 1.5em;
}


.card .project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}


.card .project-details {
    margin: 1em;
    width: 70%;
    margin: 0 auto;

}

.card .project-details a {
    text-decoration: none;
    color: #191c32;
}


/* FORMULARIO DE CONTACTO */

.contact-section {
    padding: 3em;
}

.container-contact {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 2em;
    margin-left: 4vw;
}

.contact-headings h2 {
    font-size: 3em;
}

.container-contact img {
    width: 50%;
    height: 50%;
    bottom: 0px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;

}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-lines-form);
    color: var(--color-letters)
}

.form textarea {
    height: 150px;
    background: none;
    color: var(--color-letters);
    padding: 1.5em;
    border: 1px solid var(--color-lines-form);
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.btn-submit:hover {
    background-color: #fff;
    box-shadow: none;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25vh;
    padding: 2em;
    background-color: var(--color-background-footer);
}

.footer-content1 h2 {
    font-size: 3em;
    justify-content: center;
}

.footer-content2 h5 {
    font-size: 1.5em;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks i {
    font-size: 1.5em;
}

/* BOTON DE WSP */
.btnWsp {
	position:fixed;
	z-index: 999;
	bottom: 1vh;
	right: 1vh;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	font-size: 3.5rem;
	font-weight: bold;
	background-color: white;
	color: #00bb2d;
	cursor: pointer;
	outline: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }
  
 .btnWsp:hover {
	background-color: #00bb2d;
	color: white;
  }
  
 .btnWsp .hidden {
	visibility: hidden;
	opacity: 0;
  }
/* HACER TODO RESPONSIVE */

.toggle-menu,
.info-content__subtitule,
.info-content__sotial-networks {
    display: none;
}

@media screen and (max-width:800px) {

    /* MENU RESPONSIVE */
    .menu {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--color-background);
        z-index: 1;
        transform: translateX(-110%);
        transition: all .5s ease-in-out;
    }

    .show-menu{
        transform: translateX(0%);
        transition: all .5s ease-in-out;
    }

    .menu li {
        margin: 2em ;
    }
    .toggle-menu{
        display: block;
    }
    .fa-bars{
        font-size: 1.5em;
        flex-direction: column-reverse;
    }
    .toggle-menu .fa-close{
        font-size: 1.8em;
        display: none;
    }







    .main,
    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .info-content__p,
    .ccontact-section__img {
        display: none;
    }

    .main img {
        width: min(60%, 300px);
        height: auto;
        margin-left: 0;
    }

    .info-content__sotial-networks,
    .info-content__subtitule {
        display: block;
    }

    .info-content__subtitule {
        padding: 1em;
        margin-top: .5em;
    }

    .info-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .info-content .sotial-networks {
        display: flex;
        justify-content: space-evenly;
    }

/* HACER RESPONSIVE EL CONTACT */
.form{
    width: 60vw;
    ;
}

}